<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
    <form [formGroup]="userFormGroup" action="user" name="userForm">
        <div fxLayout="column">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Domain</mat-label>
                <input matInput formControlName="domain">
            </mat-form-field>
            <div fxLayout="row">
                <label>Gender: </label>
                <mat-radio-group formControlName="gender">
                    <mat-radio-button fxFlexOffset="20px" value="male">Male</mat-radio-button>
                    <mat-radio-button fxFlexOffset="20px" value="female">Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <span matPrefix>+91 &nbsp;</span>
                <input type="tel" matInput placeholder="9168919146" formControlName="pNumber">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Location</mat-label>
                <textarea matInput formControlName="location"></textarea>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="onSubmit();" mat-button>Update</button>
</mat-dialog-actions>