.mat-card-image {
    background-size: cover;
}

.card-2 {
    padding: 0 16px 20px 16px;
}

.details-header {
    margin: 0 -16px;
    padding: 10px;
    background-color: #ecebbd;
}

.mat-card-title {
    margin-top: 10px !important;
    font-size: 20px;
}

.mat-icon {
    margin-right: 10px;
}

.container {
    border: 1px solid darkgrey;
    margin: 10px;
    padding: 10px 20px;
}

.mat-divider {
    margin: 10px 0 !important;
}

.membership {
    font-size: 12px !important;
    margin-top: -12px !important;
}